<table class="ui fixed table">
<thead>
<tr>
    <th><i class="big user icon"></i><header class="ui header">
        {{name}}'s Gym Account
    </header> </th>


    <th>

        {{#if idealWeight}}
        <i class= "big green tachometer alternate icon"></i>
        {{else}}
            <i class= "big red tachometer alternate icon"></i>
        {{/if}}
              <header class="ui header">Ideal Weight Indicator</header></th>

    <th><i class="big heartbeat icon"></i>{{bmi}}<header class="ui header">BMI</header></th>

    <th><i class="big user doctor icon"></i>{{bmiCategory}}<header class="ui header">Weight Status</header></th>
</tr>
<tr>
    <th>
     <h2>   <img src="https://cdn.glitch.com/78d3d20b-b02b-49ad-a6e8-e09996aded47%2Ftarget.png?v=1563105328456" height="40px"> {{totalGoals}}</h2>
        <header class="ui header"> Total Goals </header>
    </th>
    <th>
        <h2> <img src="https://cdn.glitch.com/78d3d20b-b02b-49ad-a6e8-e09996aded47%2Fopen.png?v=1563187228569" height="40px"> {{openGoals}}</h2>
        <header class="ui header"> Goals Open</header>
    </th>
    <th>
        <h2> <img src="https://cdn.glitch.com/78d3d20b-b02b-49ad-a6e8-e09996aded47%2Fstatus.png?v=1563139174685" height="40px"> {{achievedGoals}}</h2>
        <header class="ui header"> Goals Achieved  </header>
    </th>
    <th>
        <h2><img src="https://cdn.glitch.com/78d3d20b-b02b-49ad-a6e8-e09996aded47%2Fmissed.png?v=1563187381984" height="40px"> {{missedGoals}}</h2>
        <header class="ui header"> Goals Missed </header>
    </th>
</tr>

</thead>
<tbody>

</tbody>
</table>